In [2]:
import numpy as np
import pandas as pd
import json

In [21]:
config_file = pd.read_csv('modbus_config.csv', index_col=0)

In [22]:
config_file.to_json(orient='index')

'{"test01":{"slaveID":1,"address":0,"gain":1,"bias":0},"test02":{"slaveID":1,"address":1,"gain":1,"bias":0},"test03":{"slaveID":1,"address":2,"gain":1,"bias":0},"test04":{"slaveID":1,"address":3,"gain":1,"bias":0}}'

In [23]:
data = json.loads(config_file.to_json(orient='index'))

In [24]:
data["port"] = 'COM12'
data["baudRate"] = 115200

In [29]:
json_config = json.dumps(data, indent=4)

In [30]:
with open("modbus_config.json", "w") as f:
    f.write(json_config)

In [3]:
with open("modbus_config.json", "r") as config_file:
    config = json.load(config_file)

In [8]:
msgConfig = pd.DataFrame(config['msgConfig']).T

In [9]:
msgConfig

        slaveID  address  gain  bias
test01        1        0     1     0
test02        1        1     1     0
test03        2        2     1     0
test04        2        3     1     0

In [11]:
groupmsgConfig = msgConfig.groupby('slaveID')

In [13]:
for i in groupmsgConfig:
    print(i)

(1,         slaveID  address  gain  bias
test01        1        0     1     0
test02        1        1     1     0)
(2,         slaveID  address  gain  bias
test03        2        2     1     0
test04        2        3     1     0)

In [14]:
groupmsgConfigs = []
for i in groupmsgConfig:
    groupmsgConfigs.append(i)

In [21]:
slaveID,msg = groupmsgConfigs[1]

In [20]:
slaveID

2

In [25]:
msg.index

Index(['test03', 'test04'], dtype='object')

In [26]:
msg.index[0]

'test03'

In [29]:
msg["slaveID"][0]

2

In [30]:
msg

        slaveID  address  gain  bias
test03        2        2     1     0
test04        2        3     1     0

In [31]:
len(msg.index)

2

: